@import '@/scss/base/variables.scss';

.select {
    width: 100%;
    border-radius: 4px;
    background: $bgc-secondary;
    border: 1px solid $border-default;
    position: relative;
    cursor: pointer;
    & &__input {
        width: 100%;
    }
    &_active {
        border: 1px solid $font-primary
    }
}