$bgc-primary: #1F75CB;
$bgc-primary-hover: #1068BF;
$bgc-primary-active: #0B5CAD;
$bgc-secondary: #FFFFFF;
$bgc-secondary-hover: #ECECEF;
$bgc-secondary-active: #DCDCDE;

$font-primary: #1C1C1C;
$font-secondary: #FFFFFF;
$font-disabled: #8E8E8E;
$font-error: #EE4222;

$border-default: rgba(0, 0, 0, 0.15);
$border-hover:  rgba(18, 19, 22, 0.5);
$border-active: #1C1C1C;
$dropdown-shadow: rgba(0, 0, 0, 0.25);

$fz-default: 14px;

$bronze: #9E6955;