@import '@/scss/base/variables.scss';


.absense-of-sth {
	/* padding: 24px; */
    /* flex-grow: 1; */
	height: 100%;
	&__content-wrapper {
		height: 100%;
		border: 1px solid $border-default;
		border-radius: 4px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__text {
		font-weight: 400;
		font-size: $fz-default;
		color: $font-primary;
		text-align: center;
	}

    &__text_mb {
        margin: 0 0 10px 0;
    }
    &__btn:hover {
        background-color: $bgc-primary-hover;
    }
    &__btn:active {
        background-color: $bgc-primary-active;
    }
}