@import '@/scss/base/variables.scss';
@import '@/scss/blocks/avatar.scss';
/* @import '@/scss/blocks/btn.scss'; */
@import '@/scss/blocks/dropdown-list.scss';

.menu {
    &__content {
        padding: 24px;
        background-color: $bgc-primary;
        display: flex;
        justify-content: flex-end;
    }
    &__nav {
        &-list {
            display: flex;
        }
        &-item {
            border: 1px solid $bgc-secondary;
            border-radius: 4px;
            background-color: $bgc-primary;
            font-weight: 400;
            font-size: $fz-default;
            color: $font-secondary;
            min-height: 42px;
            margin: 0 24px 0 0;
            cursor: pointer;
            a {
                color: $font-secondary;
                text-decoration: none;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &:nth-child(1) {
                width: 92px;
            }
            &:nth-child(2) {
                width: 82px;
            }
            &:nth-child(3) {
                width: 130px;
            }
            &:hover {
                background-color: $bgc-secondary-hover;
                a {
                    color: $font-primary;
                }
            }
            &.menu__nav-item_active {
                background-color: $bgc-secondary;
                cursor: default;
                a {
                    color: $font-primary;
                }
            }
            .primary-font {
                color: $font-primary;
                cursor: default;
            }
        }
    }
    &__user {
        &-btn {
            width: 88px;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: relative;
            &:hover {
                border: 1px solid $bgc-secondary;
            }
            &.menu__user-btn_active {
                background-color: $bgc-secondary;
                border: none;
                .menu__user-arrow {
                    color: $bgc-secondary-active;
                }
            }
        }
        &-arrow {
            margin: 0 0 0 13px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $bgc-secondary;
        }
    }
}