@import '@/scss/base/variables.scss';

.task-form {
    padding: 24px;
    height: 100%;
    border-radius: 4px;
    border: 1px solid $border-default;
    display: flex;
    flex-direction: column;
    &__title {
        font-size: 40px;
        font-weight: 600;
        padding: 10px 10px 34px 10px;
        margin: 0 0 24px 0;
        border-bottom: 1px solid $border-default;
    }
    &__form {
        padding: 32px 24px 24px 24px;
        flex-grow: 1;
        width: 720px;
        margin: 0 0 24px 0;
    }
    &__stripe-wrapper {
        display: flex;
        height: 42px;
        justify-content: space-between;
        margin: 0 0 24px 0;
        &:nth-child(2) {
            height: 120px;
        }
    }
    &__name-wrapper {
        width: 120px;
        display: flex;
        margin: 0 8px 0 0;
    }
    &__name {
        font-size: 14px;
        font-weight: 400;
        color: $font-disabled;
        margin: 0 4px 0 0;
    }
    &__svg {
        transform: translateY(-2px);
    }
    &__footer {
        padding: 34px 10px 10px 10px;
        display: flex;
        justify-content: flex-end;
        border-top: 1px solid $border-default;
    }
    &__button {
        &:nth-child(1) {
            margin: 0 24px 0 0;
        }
    }
}