@import '@/scss/base/variables.scss';

.button {
    border-radius: 4px;
	font-weight: 400;
	font-size: $fz-default;
    min-height: 24px;
	/* min-height: 42px; */
	padding: 12px 16px;
    display: flex;
    align-items: center;
	cursor: pointer;
    &_primary {
        background-color: $bgc-primary;
        color: $font-secondary;
        &:hover {
            background-color: $bgc-primary-hover;
        }
        &:active {
            background-color: $bgc-primary-active;
        }
        &_active {
            background-color: $bgc-primary-active;
        }
        &[disabled] {
        // стили для отключенной кнопки
            cursor: not-allowed;
            color: $font-disabled;
            background-color: $bgc-secondary-active;
        }
    }
    &_secondary {
        background-color: $bgc-secondary;
        color: $font-primary;
        border: 1px solid $border-default;
        &:hover {
            background-color: $bgc-secondary-hover;
            border: 1px solid $border-hover;

        }
        &:active {
            background-color: $bgc-secondary-active;
            border: 1px solid $border-active;
        }
        &_active {
            background-color: $bgc-secondary-active;
            border: 1px solid $border-active;
        }
        &[disabled] {
        // стили для отключенной кнопки
            cursor: not-allowed;
            color: $font-disabled;
            background-color: $bgc-secondary;
            border: 1px solid $border-default;
        }
    }
    &__name {
        &_mr {
            margin-right: 8px;
        }
    }
    &__svg {
        display: flex;
        align-items: center;  
        &_grayArrow {
            color: $border-default;
        }     
    }
}